.react-calendar {
  max-width: 350px;
}

.react-calendar__navigation {
  display: flex;
  margin-bottom: 10px;
}

.react-calendar__navigation > button {
  background-color: transparent;
  border: none;
}

.react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
  font-size: 22px;
  text-transform: uppercase;
}

.react-calendar__month-view__days__day {
  background-color: transparent;
  border: none;
  padding: 0;
  text-align: left;
  margin: 8px 0;
  font-weight: 300;
}

.react-calendar__month-view__days__day.normal {
  font-weight: 500;
}

.react-calendar__month-view__days__day:hover {
  text-decoration: underline;
}

.react-calendar__month-view__days__day abbr {
  font-size: 22px;
}

.react-calendar__month-view__weekdays__weekday {
  text-transform: uppercase;
  margin: 10px 0;
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none;
}

.normal.react-calendar__tile--active {
  text-decoration: underline !important;
}

.react-calendar__month-view__days__day.throw {
  text-decoration: line-through !important;
}
